<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tune.tuneme">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_tune"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_tune_rounded"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tuneme"
        tools:ignore="AllowBackup">

        <activity
            android:name=".main.TuneSplashScreen"
            android:theme="@style/Theme.FullScreen"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".discover.DiscoverActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            tools:ignore="LockedOrientationActivity"/>

        <activity android:name=".intro.IntroPageActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name=".login.LoginActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name=".login.GoogleLoginActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name=".login.CompleteRegistrationActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            tools:ignore="LockedOrientationActivity"/>

        <activity android:name=".follow.AddFollowersPageActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name=".login.VerificationActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            tools:ignore="LockedOrientationActivity"/>

    </application>

</manifest>