<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tune.tuneme">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FullScreen"
        tools:ignore="AllowBackup">

        <activity android:name=".main.TuneSplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.DiscoverActivity"
            android:theme="@style/Theme.Tuneme" />

        <activity
            android:name=".main.IntroPageActivity"
            android:theme="@style/Theme.Tuneme" />

        <activity
            android:name=".login.LoginActivity"
            android:theme="@style/Theme.Tuneme" />

    </application>

</manifest>